# Data folders
# data/
archive/

# Temporary files
temp_images/

# Virtual environment
venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/

# Environment files
.env
.env.*

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Image files
*.png
*.jpg
*.jpeg
*.gif